
body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 1.7;
  color: #828282;
  background: #fff;
}

#page {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
.offcanvas #page {
  overflow: hidden;
  position: absolute;
}
.offcanvas #page:after {
  -webkit-transition: 2s;
  -o-transition: 2s;
  transition: 2s;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 101;
  background: rgba(0, 0, 0, 0.7);
  content: "";
}

a {
  color: #2D6CDF;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
a:hover, a:active, a:focus {
  color: #2D6CDF;
  outline: none;
  text-decoration: none;
}

p {
  margin-bottom: 20px;
  font-size: 16px !important;
}

h1, h2, h3, h4, h5, h6, figure {
  color: #002E5F;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  margin: 0 0 20px 0;
}

::-webkit-selection {
  color: #fff;
  background: #2D6CDF;
}

::-moz-selection {
  color: #fff;
  background: #2D6CDF;
}

::selection {
  color: #fff;
  background: #2D6CDF;
}

.nav {
  width: 100%;
  padding: 0;
  z-index: 1001;
}
.nav .top-menu {
  padding: 22px 0;
}
.nav .top {
  border-bottom: 1px solid rgba(0, 0, 0, 0.08);
  padding: 0px 0;
  margin-bottom: 0;
}
.nav .top .num, .nav .top .social, .nav .top .site {
  display: inline-block;
  margin: 0;
  padding: 5px 12px;
}
@media screen and (max-width: 768px) {
  .nav .top .num, .nav .top .social, .nav .top .site {
    padding: 5px 10px;
  }
}
.nav .top .site {
  float: left;
  font-weight: 300;
  margin-top: 0px;
  border-left: 1px solid rgba(0, 0, 0, 0.08);
  border-right: 1px solid rgba(0, 0, 0, 0.08);
}
@media screen and (max-width: 480px) {
  .nav .top .site {
    display: none;
  }
}
.nav .top .num {
  color: rgba(0, 0, 0, 0.6);
  font-size: 13px;
  letter-spacing: 0px;
  border-left: 1px solid rgba(0, 0, 0, 0.08);
}

.nav #logo {
  font-size: 24px;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  font-weight: bold;
  font-weight: 700;
  font-family: 'Open Sans', sans-serif;
}

.nav #logo img {
  width:100%;
  min-width: 165px;
}

.nav #logo a {
  color: #000;
  position: relative;
  padding-left: 25px;
}
.nav #logo a span {
  color: #000;
}
.nav #logo a i {
  position: absolute;
  top: 5px;
  left: 0;
}
.menu-1 {
  padding-top: 1rem;
}

.nav ul li a {
  padding: 30px 8px;
}
@media screen and (max-width: 768px) {
  .nav .menu-1 {
    display: none;
  }
}
.nav ul {
  padding: 0;
  margin: 5px 0 0 0;
}
.nav ul li {
  padding: 0;
  margin: 0;
  list-style: none;
  display: inline;
  font-weight: 300;
}
.nav ul li a {
  font-size: 14px;
  padding: 30px 15px;
  color: rgba(0, 0, 0, 0.9);
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
.nav ul li a:hover, .nav ul li a:focus, .nav ul li a:active {
  color: black;
  border-bottom: 2px solid #6081b6;
}

#travel,
#downloads,
#header,
#location,
#ideas, 
#signUp,
#submitIdeas 
 {
  padding: 7em 0;
  clear: both;
}
@media screen and (max-width: 768px) {
#travel,
#downloads,
#header,
#location,
#ideas, 
#signUp,
#submitIdeas, 
#footer {
    padding: 3em 0;
  }
}
.travel {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  margin-bottom: 30px;
}
.travel .desc, .travel .travel-img {
  width: 50%;
  display: inline-block;
}
@media screen and (max-width: 768px) {
  .travel .desc, .travel .travel-img {
    width: 100%;
  }
}
.travel .travel-img {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  position: relative;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
@media screen and (max-width: 768px) {
  .travel .travel-img {
    height: 270px;
  }
}

#travel, #downloads {
  background: #eee;
}

.travel .desc {
  padding: 1.7em;
  background: #fff;
}
.travel .desc h3 {
  font-size: 22px;
  font-weight: 400;
}
.travel .desc h3 a {
  color: #000;
}

.travel:hover .travel-img {
  -webkit-box-shadow: inset -70px 0px 77px 11px rgba(0, 0, 0, 0.74);
  -moz-box-shadow: inset -70px 0px 77px 11px rgba(0, 0, 0, 0.74);
  box-shadow: inset -70px 0px 77px 11px rgba(0, 0, 0, 0.74);
}
.slider-text {
  margin: -300px 0 0 0;
  min-height: 240px;
  height: 240px;
}
.header-text h1 {
  color: #FFF;
  text-transform: uppercase;
  font-weight: 600;
}

.header-text h2 {
  color: #fff;
  font-weight: 400;
  font-size:26px;
}

@media all and (max-width:768px) {
  
  .header-text h1 {
    font-size: 30px;
  }

  .header-text h2 {
    font-size: 19px;
    line-height: 36px;
  }
}
.heading {
  margin-bottom: 5em;
}
.heading h2 {
  font-size: 26px;
  margin-bottom: 20px;
  line-height: 1.5;
  color: #000;
  text-transform: uppercase;
  position: relative;
}
.heading h2:after {
  position: absolute;
  top: 40px;
  left: 0;
  right: 0;
  bottom: 0;
  content: '';
  width: 50px;
  height: 1px;
  margin: 0 auto;
  background: rgba(0, 0, 0, 0.08);
}
.heading p {
  font-size: 16px;
  line-height: 10px;
}

#location {
  /* background: #eee; */
  position: relative;
}
#ideas {
  background: #1F5F8B;
  position: relative;
}
#ideas .overlay {
  position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	content: '';
	background: rgba(10, 53, 126, 0.7);
}

#ideas h2 {
  color:#fff;
}
#location .heading, #signUp .heading{
  margin-bottom: 3em;
}
#location .heading h2, #signUp .heading h2 {
  color: #000;
  margin-bottom: 20px !important;
  text-transform: uppercase;
}
#location .heading h2:after, #signUp .heading h2:after {
  background: transparent !important;
}
#location .heading span, #signUp .heading span {
  padding: 7px 15px;
  position: relative;
}
#location .heading span:before, #signUp .heading span:before {
  position: absolute;
  top: 24px;
  left: -40px;
  content: '';
  width: 40px;
  height: 1px;
  background: white;
}
#location .heading span:after, #signUp .heading span:after {
  position: absolute;
  top: 24px;
  right: -40px;
  content: '';
  width: 40px;
  height: 1px;
  background: white;
}
.ideas {
  margin-bottom: 30px;
  width: 100%;
  float: left;
}
@media screen and (max-width: 768px) {
  .ideas {
    width: 100%;
  }
}
.gallery {
  flex: 0;
  font-size: 20px;
  width: 100%;
  padding: 17px 27px;
  background: rgba(255, 255, 255, 0.82);
  color: #010101;
  margin-bottom: 57px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 86px;
}
.download:hover {
  -webkit-box-shadow: inset 0px 0px 124px 11px rgba(0, 0, 0, 0.74);
  -moz-box-shadow: inset 0px 0px 124px 11px rgba(0, 0, 0, 0.74);
  box-shadow: inset 0px 0px 124px 11px rgba(0, 0, 0, 0.74);
}

#footer {
  background: #efefef;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  position: relative;
  color: #fff !important;
  padding: 3rem 0 0 0;
  clear:both;
}
#footer .overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #002e5f;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
#footer .footer-links {
  padding: 0;
  margin: 0;
}
#footer .footer-links li {
  padding: 0;
  margin: 0;
  list-style: none;
  line-height: 36px;
}
#footer .footer-links li a, #footer a {
  color: #fff;
  text-decoration: none;
}
#footer .footer-links li a:hover, #footer a:hover {
  text-decoration: underline;
}
/*
#footer  {
  margin-bottom: 30px;
}
*/
@media screen and (max-width: 768px) {
  #footer  {
    text-align: left;
  }
  #footer .footer-links li {
    line-height: normal;
  }
}
#footer  h3 {
  margin-bottom: 15px;
  font-weight: normal;
  font-size: 12px;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-family: 'Open Sans', sans-serif;
  color: #fff;
}

#footer h3 a {
  color:#fff;
}
#footer img {
  padding: 40px 40px 40px 0;
}
#offcanvas {
  position: absolute;
  z-index: 1901;
  width: 270px;
  background: black;
  top: 0;
  right: 0;
  top: 0;
  bottom: 0;
  padding: 75px 40px 40px 40px;
  overflow-y: auto;
  display: none;
  -moz-transform: translateX(270px);
  -webkit-transform: translateX(270px);
  -ms-transform: translateX(270px);
  -o-transform: translateX(270px);
  transform: translateX(270px);
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
@media screen and (max-width: 768px) {
  #offcanvas {
    display: block;
  }
}
.offcanvas #offcanvas {
  -moz-transform: translateX(0px);
  -webkit-transform: translateX(0px);
  -ms-transform: translateX(0px);
  -o-transform: translateX(0px);
  transform: translateX(0px);
}
#offcanvas a {
  color: rgba(255, 255, 255, 0.5);
}
#offcanvas a:hover {
  color: rgba(255, 255, 255, 0.8);
}
#offcanvas ul {
  padding: 0;
  margin: 0;
}
#offcanvas ul li {
  padding: 0;
  margin: 0;
  list-style: none;
}
#offcanvas ul li > ul {
  padding-left: 20px;
  display: none;
}
.uppercase {
  font-size: 14px;
  color: #000;
  margin-bottom: 10px;
  font-weight: 700;
  text-transform: uppercase;
}

.gototop {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 999;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
.gototop.active {
  opacity: 1;
  visibility: visible;
}
.gototop a {
  width: 50px;
  height: 50px;
  display: table;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  text-align: center;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
}
.gototop a i {
  height: 50px;
  display: table-cell;
  vertical-align: middle;
}
.gototop a:hover, .gototop a:active, .gototop a:focus {
  text-decoration: none;
  outline: none;
}

.nav-toggle {
  width: 25px;
  height: 25px;
  cursor: pointer;
  text-decoration: none;
}
.nav-toggle.active i::before, .nav-toggle.active i::after {
  background: #444;
}
.nav-toggle:hover, .nav-toggle:focus, .nav-toggle:active {
  outline: none;
  border-bottom: none !important;
}
.nav-toggle i {
  position: relative;
  display: inline-block;
  width: 25px;
  height: 2px;
  color: #252525;
  font: bold 14px/.4 Helvetica;
  text-transform: uppercase;
  text-indent: -55px;
  background: #252525;
  transition: all .2s ease-out;
}
.nav-toggle i::before, .nav-toggle i::after {
  content: '';
  width: 25px;
  height: 2px;
  background: #252525;
  position: absolute;
  left: 0;
  transition: all .2s ease-out;
}
.nav-toggle.nav-white > i {
  color: #fff;
  background: #000;
}
.nav-toggle.nav-white > i::before, .nav-toggle.nav-white > i::after {
  background: #000;
}
.nav-toggle.nav-white.active > i {
  color: #fff;
  background: #000;
}
.nav-toggle.nav-white.active > i::before, .nav-toggle.nav-white.active > i::after {
  background: #fff;
}

.nav-toggle i::before {
  top: -7px;
}

.nav-toggle i::after {
  bottom: -7px;
}
.nav-toggle:hover i::before {
  background:#6081b6;
}
.nav-toggle:hover i {
  background:#6081b6;
}

.nav-toggle:hover i::after {
  background:#6081b6;
}

.nav-toggle.active i {
  background: transparent;
}

.nav-toggle.active i::before {
  top: 0;
  -webkit-transform: rotateZ(45deg);
  -moz-transform: rotateZ(45deg);
  -ms-transform: rotateZ(45deg);
  -o-transform: rotateZ(45deg);
  transform: rotateZ(45deg);
}

.nav-toggle.active i::after {
  bottom: 0;
  -webkit-transform: rotateZ(-45deg);
  -moz-transform: rotateZ(-45deg);
  -ms-transform: rotateZ(-45deg);
  -o-transform: rotateZ(-45deg);
  transform: rotateZ(-45deg);
}

.nav-toggle {
  position: absolute;
  right: 0px;
  /*top: 55px;*/
  top:22px;
  z-index: 21;
  padding: 6px 0 0 0;
  display: block;
  margin: 0 auto;
  display: none;
  height: 44px;
  width: 44px;
  z-index: 2001;
  border-bottom: none !important;
}
@media screen and (max-width: 768px) {
  .nav-toggle {
    display: block;
  }
}

.btn {
  margin-right: 4px;
  margin-bottom: 4px;
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  font-weight: 400;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  border-radius: 30px;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  padding: 8px 20px;
  line-height: 30px;
}
.btn.btn-md {
  padding: 8px 20px !important;
}
.btn.btn-lg {
  padding: 18px 36px !important;
}
.btn:hover, .btn:active, .btn:focus {
  box-shadow: none !important;
  outline: none !important;
}

.btn-primary {
  background: #002E5F;
	color: #fff;
	border: 0px solid #777;

}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active {
  background: #437be2 !important;
  border-color: #437be2 !important;
}
.btn-primary.btn-outline {
  background: transparent;
  color: #2D6CDF;
  border: 2px solid #2D6CDF;
}
.btn-primary.btn-outline:hover, .btn-primary.btn-outline:focus, .btn-primary.btn-outline:active {
  background: #2D6CDF;
  color: #fff;
}

.btn-success {
  background: #5cb85c;
  color: #fff;
  border: 2px solid #5cb85c;
}
.btn-success:hover, .btn-success:focus, .btn-success:active {
  background: #4cae4c !important;
  border-color: #4cae4c !important;
}
.btn-success.btn-outline {
  background: transparent;
  color: #5cb85c;
  border: 2px solid #5cb85c;
}
.btn-success.btn-outline:hover, .btn-success.btn-outline:focus, .btn-success.btn-outline:active {
  background: #5cb85c;
  color: #fff;
}

.btn-info {
  background: #5bc0de;
  color: #fff;
  border: 2px solid #5bc0de;
}
.btn-info:hover, .btn-info:focus, .btn-info:active {
  background: #46b8da !important;
  border-color: #46b8da !important;
}
.btn-info.btn-outline {
  background: transparent;
  color: #5bc0de;
  border: 2px solid #5bc0de;
}
.btn-info.btn-outline:hover, .btn-info.btn-outline:focus, .btn-info.btn-outline:active {
  background: #5bc0de;
  color: #fff;
}

.btn-warning {
  background: #f0ad4e;
  color: #fff;
  border: 2px solid #f0ad4e;
}
.btn-warning:hover, .btn-warning:focus, .btn-warning:active {
  background: #eea236 !important;
  border-color: #eea236 !important;
}
.btn-warning.btn-outline {
  background: transparent;
  color: #f0ad4e;
  border: 2px solid #f0ad4e;
}
.btn-warning.btn-outline:hover, .btn-warning.btn-outline:focus, .btn-warning.btn-outline:active {
  background: #f0ad4e;
  color: #fff;
}

.btn-danger {
  background: #d9534f;
  color: #fff;
  border: 2px solid #d9534f;
}
.btn-danger:hover, .btn-danger:focus, .btn-danger:active {
  background: #d43f3a !important;
  border-color: #d43f3a !important;
}
.btn-danger.btn-outline {
  background: transparent;
  color: #d9534f;
  border: 2px solid #d9534f;
}
.btn-danger.btn-outline:hover, .btn-danger.btn-outline:focus, .btn-danger.btn-outline:active {
  background: #d9534f;
  color: #fff;
}

.btn-outline {
  background: none;
  border: 2px solid gray;
  font-size: 16px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.btn-outline:hover, .btn-outline:focus, .btn-outline:active {
  box-shadow: none;
}

.btn.with-arrow {
  position: relative;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.btn.with-arrow i {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  right: 0px;
  top: 50%;
  margin-top: -8px;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}
.btn.with-arrow:hover {
  padding-right: 50px;
}
.btn.with-arrow:hover i {
  color: #fff;
  right: 18px;
  visibility: visible;
  opacity: 1;
}

.form-control {
  box-shadow: none;
  background: transparent;
  border: 2px solid rgba(0, 0, 0, 0.1);
  height: 54px;
  font-size: 14px;
  font-weight: 400;
}
.form-control:active, .form-control:focus {
  outline: none;
  box-shadow: none;
  border-color: #000;
}

.row-pb-md {
  padding-bottom: 4em !important;
}

.row-pb-sm {
  padding-bottom: 2em !important;
}

.loader {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: url(../images/loader.gif) center no-repeat #fff;
}

.row-padded-mb {
  margin-bottom: 3em !important;
}

.col-padded {
  margin: 0 !important;
  padding: 0 !important;
}

.js .animate-box {
  opacity: 0;
}